<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{product.name}}</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <main class="container">
     {{#each products}}
    <div class="product-card">
        <h3>{{this.name}}</h3>
        <p>{{this.description}}</p>
        <p>Precio: ${{this.price}}</p>
        <a href="/cart/add/{{this._id}}" class="btn">Añadir al Carrito</a>
    </div>
    {{/each}}
    </main>


</body>
</html>
